
    

<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdP8_WHYu5wR9VU33Q1He28nvajJAuTOANiB84Cfq0nArDVMAf" alt="Card image cap">
            <div class="card-body">
                <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit"  class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
{% endblock %}







   