{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
{% else %}
  <p>Please Login</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}