<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}

  <h5>Sign up</h5>
    <div class="card" style="width: 50rem;">
            <div class="card-body" style="align: left;">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign up</button>
                </form>
            </div>
    </div>
{% endblock %}